body {
  background-color: #fbf8f1;
}
#nav {
  background-color: #e9dac1;
}
.box {
  /* background-color: ; */
  border-radius: 20px;
  border: 10px solid #54bab9;
  height: 400px;
  padding: 5px;
  /* border: 2px solid black; */
  margin-top: 5px;
}

hr {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  border-top: 0.5em dotted black;
}
