body {
  background-color: #fbf8f1;
}
#nav {
  background-color: #fbf8f1;
}
.logo {
  width: 20%;
}
.box {
  /* background-color: ; */
  border-radius: 20px;
  border: 10px solid #54bab9;
  height: 400px;
  padding: 5px;

  /* border: 2px solid black; */
  margin: 40px 0;
}

hr {
  margin-top: 40px;
  margin-bottom: 40px;
  width: 55%;
  margin-left: auto;
  margin-right: auto;
  border-top: 0.5em dotted black;
}

.position-absolute {
  top: 10px;
}
#navbarNav {
  justify-content: center;
}
