@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
body {
  background-color: #fbf8f1;
}
#nav {
  background-color: #fbf8f1;
}
.logo {
  width: 20%;
}
.box {
  /* background-color: ; */
  border-radius: 20px;
  border: 10px solid #54bab9;
  height: 400px;
  padding: 5px;

  /* border: 2px solid black; */
  margin: 40px 0;
}

hr {
  margin-top: 40px;
  margin-bottom: 40px;
  width: 55%;
  margin-left: auto;
  margin-right: auto;
  border-top: 0.5em dotted black;
}

.position-absolute {
  top: 10px;
}
#navbarNav {
  justify-content: center;
}

.style {
  font-family: "Open Sans", sans-serif;
}
.btn-size {
  font-size: 2rem;
}

@media only screen and (max-width: 1200px) {
  .btn-size {
    font-size: 1.8rem;
  }
}
@media only screen and (max-width: 800px) {
  .btn-size {
    font-size: 1.5rem;
  }
  .logo {
    display: none;
  }
}
@media only screen and (max-width: 600px) {
  .btn-size {
    font-size: 1.1rem;
  }
}
